<section class="container">

  <div class="group">

    <div class="plan-1">
      <h4>Easy Plan</h4>
      <p>Access Anywhere</p>
      <p>Unlimited Uploads</p>
      <p>Responsive Design</p>
      <%= link_to "Sign Up", new_user_registration_path %>
    </div>

    <div class="plan-2">
      <h4>Premium Plan</h4>
      <p>Access Anywhere</p>
      <p>Unlimited Uploads</p>
      <p>Responsive Design</p>
      <p>Unlimited Projects</p>
      <%= link_to "Sign Up", new_user_registration_path %>
    </div>

  </div>

</section>